.crypt-select-protection-input-box {
  background-color: white;
  padding-left: 1em;
  margin-bottom: 2.4em;
  border-left: 2px solid black;
}

@media only screen and (max-width: 500px) {
  .crypt-select-protection-input-box {
    margin-bottom: 1.25em;
  }
}

.crypt-select-protection-input-box:last-child {
  margin-bottom: 1em;
}

.crypt-select-protection-input-box h4 {
  font-size: 11pt;
  text-align: left;
  color: #424242;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.crypt-select-protection-input-box input,
textarea {
  font-size: 1.1em;
  border: 0;
  box-shadow: 0pt 1pt 0pt 0pt #ebebeb, 0px 1pt 0pt 0pt #ebebeb;
  width: 90%;
  resize: none;
}

.crypt-select-protection-input-box input:focus,
textarea:focus {
  outline: none;
}

.attribute-field {
  margin-top: 1em;
}

.add-attribute-btn {
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  margin-right: 0.5em;
  font-family: Overpass;
  cursor: pointer;
}