.crypt-select-protection-input-box {
  background-color: white;
  padding-left: 1em;
  margin-bottom: 2.4em;
  border-left: 2px solid black;
}

@media only screen and (max-width: 500px) {
  .crypt-select-protection-input-box {
    margin-bottom: 1.25em;
  }
}

.crypt-select-protection-input-box:last-child {
  margin-bottom: 1em;
}

.crypt-select-protection-input-box h4 {
  font-size: 11pt;
  text-align: left;
  color: #424242;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.crypt-select-protection-input-box input,
textarea {
  font-size: 1.1em;
  border: 0;
  box-shadow: 0pt 1pt 0pt 0pt #ebebeb, 0px 1pt 0pt 0pt #ebebeb;
  width: 90%;
  resize: none;
}

.crypt-select-protection-input-box input:focus,
textarea:focus {
  outline: none;
}

.attribute-field {
  margin-top: 1em;
}

.add-attribute-btn {
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  margin-right: 0.5em;
  font-family: Overpass;
  cursor: pointer;
}

.crypt-btn-main {
  width: 14em;
}

@media only screen and (max-width: 400px) {
  .crypt-btn-main {
    width: 13em;
  }

  .crypt-btn-cancel {
    width: 13em !important;
  }
}

.crypt-btn {
  border: none;
  border-radius: 2.6em;
  background: #000000;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.6em;
  padding: 0.25em 0;
  text-align: center;
}

.crypt-btn:disabled,
.crypt-btn[disabled],
.crypt-btn-disabled {
  background: #e8e8e8;
  color: #424242;
  cursor: not-allowed;
}

.yivi-btn-logo {
  display: flex;
  padding-right: 1em;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.crypt-btn-main {
  display: block;
  padding-left: 0.25em;
  width: 15em;
  margin: 1em auto;
}