:root {
    --Postguard-Soft-Background: #F2F8FD;
    --Postguard-Primary-Contrast: #1673B6;
    --Postguard-Strong-Background: #C6E2F6;

    --small-border-radius: 4px;
    --medium-border-radius: 8px;
}

.crypt-select-protection-input-box {
    background-color: white;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.crypt-select-protection-input-box h4 {
    font-size: 11pt;
    text-align: left;
    color: #424242;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.crypt-select-protection-input-box input,
textarea {
    font-size: 1.1em;
    border: 1px solid black;
    width: 90%;
    resize: none;
}

.crypt-select-protection-input-box input:focus,
textarea:focus {
    outline: none;
}

@media only screen and (max-width: 400px) {
    .crypt-btn-cancel {
        width: 13em !important;
    }
}

.is-confirming-bg {
    background-color: #E0EAFF !important;
}

.crypt-btn {
    border: none;
    border-radius: var(--small-border-radius);
    background: #000000;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.15em;
    line-height: 1.6em;
    padding: 1em;
    text-align: center;
}

.crypt-btn:disabled,
.crypt-btn[disabled],
.crypt-btn-disabled {
    background: #e8e8e8;
    color: #424242;
    cursor: not-allowed;
}

.yivi-btn-logo {
    display: flex;
    padding-right: 1em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.attributes-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    text-wrap: nowrap;
    overflow-x: auto;
}


h3, p {
    text-align: start;
    margin: 0;
}

button {
    all: unset;
    cursor: pointer;
    font-family: 'Overpass';
    font-style: normal;
}