stages:
    - build
    - deploy

variables:
    GIT_DEPTH: '16'
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: recursive
    FALLBACK_CONTAINER_IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/postguard-fallback:${CI_COMMIT_REF_NAME}
    CONTAINER_IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/postguard-website:${CI_COMMIT_REF_NAME}

build-root:
    stage: build
    tags: [docker]
    image: node:18-alpine3.15
    script:
        - yarn
        - yarn build
    artifacts:
        paths:
            - build
        expire_in: 1 day

build-fallback-build-image:
    stage: build
    tags: [docker]
    image: docker:stable
    script:
        - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        - docker build -f docker/frontend.Dockerfile -t ${FALLBACK_CONTAINER_IMAGE} .
        - docker push ${FALLBACK_CONTAINER_IMAGE}

build-fallback:
    stage: build
    dependencies: [build-fallback-build-image]
    tags: [docker]
    image: ${FALLBACK_CONTAINER_IMAGE}
    script:
        - cd frontend
        - yarnpkg
        - yarnpkg build
        - yarnpkg minify
        - trunk build --release --public-url /fallback
        - mv frontend/dist fallback/
    artifacts:
        paths:
            - fallback
        expire_in: 1 days

build-cryptify:
    stage: build
    tags: [docker]
    image: node:18-alpine3.15
    script:
        - cd cryptify/cryptify-front-end
        - npm install --legacy-peer-deps
        - CI=false npm run build
        - mv cryptify-front-end/build cryptify/
    artifacts:
        paths:
            - cryptify
        expire_in: 1 day

build-image:
    stage: build
    tags: [docker]
    dependencies: [build-root, build-fallback, build-cryptify]
    image: docker:stable
    script:
        - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        - docker build -f docker/nginx.Dockerfile -t ${CONTAINER_IMAGE} .
        - docker push ${CONTAINER_IMAGE}

deploy-main:
    stage: deploy
    dependencies: [build-image]
    environment: $CI_COMMIT_REF_NAME
    tags: [docker]
    image: ubuntu:rolling
    script:
        - apt update
        - apt install -y openssh-client
        - chmod 600 $ILAB_VM_TRIGGER_UPDATE_KEY
        - ssh -o UserKnownHostsFile=$ILAB_VM_TRIGGER_UPDATE_KNOWN_HOSTS $ILAB_VM_TRIGGER_UPDATE_USER@$ILAB_VM_TRIGGER_UPDATE_HOST_MAIN -i $ILAB_VM_TRIGGER_UPDATE_KEY docker-postguard-webserver-main
