stages:
    - build

variables:
  GIT_DEPTH: "16"
  GIT_STRATEGY: fetch
  GIT_SUBMODULE_STRATEGY: recursive
  STOREPATH: postguard/website
  BPSTOREC: bpstorec --verbose --host $STOREHOST --port $STOREPORT --username $STOREUSER --token $STORETOKEN

deploy-stable:
    tags: [docker]
    only:
    - stable
    stage: build
    environment: stable
    image: "registry.science.ru.nl/ilab/docker-build/debian:bullseye"
    script:
    - apt update
    - apt install -y curl
    - echo "deb http://packages.bitpowder.com/indigo-debian-bullseye stable core"  > /etc/apt/sources.list.d/bitpowder-indigo.list
    - curl -L https://bitpowder.com/packages/linux-packages.gpg > /etc/apt/trusted.gpg.d/bitpowder.asc
    - apt update
    - apt install -y indigo file
    - cd src && find . -type f -print0 | xargs -n 1 -0 -I %FILE% $BPSTOREC --naclcerts $STORECERTS put -f %FILE% $STOREPATH/file/%FILE%
