stages:
    - build
    - build-image
    - deploy

workflow:
    rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == "stable"

variables:
    GIT_DEPTH: '16'
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: recursive
    CONTAINER_IMAGE: ${CI_REGISTRY}/${CI_PROJECT_PATH}/postguard-website:${CI_COMMIT_REF_NAME}

build-root:
    stage: build
    tags: [docker]
    image: node:18-alpine3.15
    script:
        - yarn
        - yarn build-${CI_COMMIT_REF_NAME}
    artifacts:
        paths:
            - build
        expire_in: 1 day

build-cryptify:
    stage: build
    tags: [docker]
    image: node:18-alpine3.15
    script:
        - cd cryptify/cryptify-front-end
        - npm install --legacy-peer-deps
        - CI=false npm run build-${CI_COMMIT_REF_NAME}
    artifacts:
        paths:
            - cryptify/cryptify-front-end/build
        expire_in: 1 day

build-downloads:
    stage: build
    tags: [docker]
    image: node:18-alpine3.15
    script:
        - cd postguard-tb-addon
        - yarn
        - NODE_ENV=production yarn build
        - cd dist
        - ln -s postguard-tb-addon-*.xpi postguard-tb-addon.xpi
    artifacts:
        paths:
            - postguard-tb-addon/dist
        expire_in: 1 day

build-image:
    stage: build-image
    tags: [docker]
    dependencies:
        - build-root
        - build-cryptify
        - build-downloads
    image: docker:stable
    script:
        - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        - docker build -f docker/nginx.Dockerfile -t ${CONTAINER_IMAGE} .
        - docker push ${CONTAINER_IMAGE}

deploy-main:
    stage: deploy
    only:
        - main
    dependencies:
        - build-image
    environment: $CI_COMMIT_REF_NAME
    tags: [docker]
    image: ubuntu:rolling
    script:
        - apt update
        - apt install -y openssh-client
        - chmod 600 $ILAB_VM_TRIGGER_UPDATE_KEY
        - mkdir ~/.ssh
        - echo "postguard-main.cs.ru.nl ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILa82tuFJPeEoeZPx2e5nCuo6IW83R0OFqAVqKYewqZk" > ~/.ssh/known_hosts
        - ssh -v $ILAB_VM_TRIGGER_UPDATE_USER@$PG_VM_TRIGGER_UPDATE_HOST_MAIN -i $ILAB_VM_TRIGGER_UPDATE_KEY docker-postguard-website-main

deploy-stable:
    stage: deploy
    only:
        - stable
    dependencies:
        - build-image
    environment: $CI_COMMIT_REF_NAME
    tags: [docker]
    image: ubuntu:rolling
    script:
        - apt update
        - apt install -y openssh-client
        - chmod 600 $ILAB_VM_TRIGGER_UPDATE_KEY
        - mkdir ~/.ssh
        - echo "postguard-main.cs.ru.nl ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILa82tuFJPeEoeZPx2e5nCuo6IW83R0OFqAVqKYewqZk" > ~/.ssh/known_hosts
        - ssh -v $ILAB_VM_TRIGGER_UPDATE_USER@$PG_VM_TRIGGER_UPDATE_HOST_STABLE -i $ILAB_VM_TRIGGER_UPDATE_KEY docker-postguard-website-stable