@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    font-family: 'Overpass';
    font-style: normal;
    color: #022e3d;
}

h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

:root {
    --pg-accent-color: #3095de;
    --pg-accent-color-rgb: 48, 149, 222;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: white;
    opacity: 100%;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.grid-container {
    display: grid;
    max-width: 900px;
    margin: auto 5% auto 5%;
    grid-gap: 5%;
}

.grid-item.header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    max-width: 400px;
    text-align: left;

    h2 {
        position: relative;
        inline-size: 300px;
        overflow-wrap: break-word;
        margin-bottom: 0;

        span {
            background-color: white;
            padding-right: 10px;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 12px;
            left: 0;
            right: 0;
            height: 4px;
            background-color: var(--pg-accent-color);
            border-radius: 3.5px;
            z-index: -1;
        }
    }
}
