/* Hide element from sighted users but make readable and translatable by screenreaders unlike Aria labels */
/* https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}